---
openapi: 3.0.3
info:
  title: LazyReel API
  version: 1.0.0
  description: |-
    REST API for LazyReel, a content marketing platform that automates
    video and image creation for social media.

    ## Authentication

    All requests require a Bearer token in the `Authorization` header:

    ```
    Authorization: Bearer lr_<48 hex characters>
    ```

    Tokens are scoped to an organization and can be created in the
    LazyReel web app under Settings > API Tokens.

    ## Prefix IDs

    All resources use human-readable prefix IDs instead of numeric IDs.
    For example, an offering ID looks like `offr_abc123` and a campaign ID
    looks like `camp_def456`. Use these prefix IDs in URL paths and
    request bodies.

    ## Response Envelope

    All successful responses wrap data in a `{ "data": ..., "meta": { "timestamp": "..." } }` envelope.
    Error responses use `{ "error": { "message": "...", "code": "..." }, "meta": { "timestamp": "..." } }`.
servers:
- url: https://lazyreel.com/api/v1
paths:
  "/api/v1/artwork_styles":
    get:
      summary: index
      tags:
      - Artwork Styles
      responses:
        '200':
          description: includes expected fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        subject_type:
                          type: string
                        style_keywords:
                          type: string
                        prompt_modifiers:
                          type: object
                          properties:
                            prefix:
                              type: string
                            suffix:
                              type: string
                          required:
                          - prefix
                          - suffix
                        is_active:
                          type: boolean
                        is_default:
                          type: boolean
                        global:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - name
                      - description
                      - subject_type
                      - style_keywords
                      - prompt_modifiers
                      - is_active
                      - is_default
                      - global
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/artwork_styles/{id}":
    get:
      summary: show
      tags:
      - Artwork Styles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a global artwork style
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      subject_type:
                        type: string
                      style_keywords:
                        type: string
                      prompt_modifiers:
                        type: object
                        properties:
                          prefix:
                            type: string
                          suffix:
                            type: string
                        required:
                        - prefix
                        - suffix
                      is_active:
                        type: boolean
                      is_default:
                        type: boolean
                      global:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - subject_type
                    - style_keywords
                    - prompt_modifiers
                    - is_active
                    - is_default
                    - global
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for a non-existent style
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/content_aesthetics":
    get:
      summary: index
      tags:
      - Content Aesthetics
      responses:
        '200':
          description: includes expected fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                        tagline:
                          nullable: true
                        description:
                          type: string
                        visual_vocabulary:
                          type: string
                        emotional_vocabulary:
                          type: string
                        panel_rules:
                          type: object
                          properties:
                            hook_slide:
                              type: string
                            filler_slides:
                              type: string
                          required:
                          - hook_slide
                          - filler_slides
                        niche_keywords:
                          type: array
                          items: {}
                        global:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - name
                      - slug
                      - tagline
                      - description
                      - visual_vocabulary
                      - emotional_vocabulary
                      - panel_rules
                      - niche_keywords
                      - global
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/creative_templates":
    get:
      summary: index
      tags:
      - Creative Templates
      responses:
        '200':
          description: includes expected fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                          nullable: true
                        hook_type:
                          type: string
                          nullable: true
                        content_purpose:
                          type: string
                        template_type:
                          type: string
                        status:
                          type: string
                        is_active:
                          type: boolean
                        is_default:
                          type: boolean
                        automation_eligible:
                          type: boolean
                        slide_count:
                          type: integer
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - name
                      - description
                      - hook_type
                      - content_purpose
                      - template_type
                      - status
                      - is_active
                      - is_default
                      - automation_eligible
                      - slide_count
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/creative_templates/{id}":
    get:
      summary: show
      tags:
      - Creative Templates
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns a custom template for the organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                        nullable: true
                      hook_type:
                        type: string
                        nullable: true
                      content_purpose:
                        type: string
                      template_type:
                        type: string
                      status:
                        type: string
                      is_active:
                        type: boolean
                      is_default:
                        type: boolean
                      automation_eligible:
                        type: boolean
                      slide_count:
                        type: integer
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - hook_type
                    - content_purpose
                    - template_type
                    - status
                    - is_active
                    - is_default
                    - automation_eligible
                    - slide_count
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for a non-existent template
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/discovered_tiktoks/ingest":
    post:
      summary: ingest
      tags:
      - Discovered TikToks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                offering_id:
                  type: string
              required:
              - url
      responses:
        '200':
          description: returns existing record for duplicate URL (200, not 201)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      niche_discovery_id:
                        type: string
                      tiktok_url:
                        type: string
                      tiktok_video_id:
                        nullable: true
                      username:
                        nullable: true
                      caption:
                        nullable: true
                      hook_text:
                        type: string
                      slide_count:
                        type: integer
                      view_count:
                        nullable: true
                      like_count:
                        nullable: true
                      comment_count:
                        type: integer
                      share_count:
                        type: integer
                      hashtags:
                        type: array
                        items:
                          type: string
                      content_type:
                        type: string
                      status:
                        type: string
                      engagement_rate:
                        type: integer
                      discovered_at:
                        type: string
                      created_at:
                        type: string
                    required:
                    - id
                    - niche_discovery_id
                    - tiktok_url
                    - tiktok_video_id
                    - username
                    - caption
                    - hook_text
                    - slide_count
                    - view_count
                    - like_count
                    - comment_count
                    - share_count
                    - hashtags
                    - content_type
                    - status
                    - engagement_rate
                    - discovered_at
                    - created_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '201':
          description: reuses existing niche discovery on repeat calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      niche_discovery_id:
                        type: string
                      tiktok_url:
                        type: string
                      tiktok_video_id:
                        nullable: true
                      username:
                        nullable: true
                      caption:
                        nullable: true
                      hook_text:
                        type: string
                      slide_count:
                        type: integer
                      view_count:
                        nullable: true
                      like_count:
                        nullable: true
                      comment_count:
                        type: integer
                      share_count:
                        type: integer
                      hashtags:
                        type: array
                        items:
                          type: string
                      content_type:
                        type: string
                      status:
                        type: string
                      engagement_rate:
                        type: integer
                      discovered_at:
                        type: string
                      created_at:
                        type: string
                    required:
                    - id
                    - niche_discovery_id
                    - tiktok_url
                    - tiktok_video_id
                    - username
                    - caption
                    - hook_text
                    - slide_count
                    - view_count
                    - like_count
                    - comment_count
                    - share_count
                    - hashtags
                    - content_type
                    - status
                    - engagement_rate
                    - discovered_at
                    - created_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '400':
          description: returns 400 for missing URL param
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '404':
          description: returns 404 for invalid offering_id
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '422':
          description: returns 422 when organization has no offerings
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings":
    get:
      summary: index
      tags:
      - Offerings
      responses:
        '200':
          description: includes expected fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        target_audience:
                          type: string
                        differentiator:
                          type: string
                        tone_voice:
                          type: string
                        brand_promise:
                          type: string
                        content_aesthetic:
                          nullable: true
                        content_aesthetic_id:
                          nullable: true
                        english_dialect:
                          type: string
                        default_share_campaign_id:
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - name
                      - description
                      - target_audience
                      - differentiator
                      - tone_voice
                      - brand_promise
                      - content_aesthetic
                      - content_aesthetic_id
                      - english_dialect
                      - default_share_campaign_id
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    post:
      summary: create
      tags:
      - Offerings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offering:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    target_audience:
                      type: string
                  required:
                  - name
                  - description
                  - target_audience
              required:
              - offering
      responses:
        '201':
          description: creates a new offering
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      target_audience:
                        type: string
                      differentiator:
                        nullable: true
                      tone_voice:
                        nullable: true
                      brand_promise:
                        nullable: true
                      content_aesthetic:
                        nullable: true
                      content_aesthetic_id:
                        nullable: true
                      english_dialect:
                        type: string
                      default_share_campaign_id:
                        nullable: true
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - target_audience
                    - differentiator
                    - tone_voice
                    - brand_promise
                    - content_aesthetic
                    - content_aesthetic_id
                    - english_dialect
                    - default_share_campaign_id
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '422':
          description: returns 422 for invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{id}":
    get:
      summary: show
      tags:
      - Offerings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns content_aesthetic and content_aesthetic_id
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      target_audience:
                        type: string
                      differentiator:
                        type: string
                      tone_voice:
                        type: string
                      brand_promise:
                        type: string
                      content_aesthetic:
                        nullable: true
                        type: string
                      content_aesthetic_id:
                        nullable: true
                        type: string
                      english_dialect:
                        type: string
                      default_share_campaign_id:
                        nullable: true
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - target_audience
                    - differentiator
                    - tone_voice
                    - brand_promise
                    - content_aesthetic
                    - content_aesthetic_id
                    - english_dialect
                    - default_share_campaign_id
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for a non-existent offering
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    patch:
      summary: update
      tags:
      - Offerings
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                offering:
                  type: object
                  properties:
                    name:
                      type: string
                    content_aesthetic:
                      type: string
                    content_aesthetic_id:
                      type: string
                      nullable: true
              required:
              - offering
      responses:
        '200':
          description: accepts organization-specific aesthetics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      target_audience:
                        type: string
                      differentiator:
                        type: string
                      tone_voice:
                        type: string
                      brand_promise:
                        type: string
                      content_aesthetic:
                        type: string
                        nullable: true
                      content_aesthetic_id:
                        nullable: true
                        type: string
                      english_dialect:
                        type: string
                      default_share_campaign_id:
                        nullable: true
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - name
                    - description
                    - target_audience
                    - differentiator
                    - tone_voice
                    - brand_promise
                    - content_aesthetic
                    - content_aesthetic_id
                    - english_dialect
                    - default_share_campaign_id
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for an offering in another organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '422':
          description: returns 422 for invalid data
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            field:
                              type: string
                            message:
                              type: string
                          required:
                          - field
                          - message
                    required:
                    - message
                    - code
                    - details
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns":
    get:
      summary: index
      tags:
      - Campaigns
      parameters:
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: filters by status=draft
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        offering_id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        content_focus:
                          type: string
                        status:
                          type: string
                        campaign_type:
                          type: string
                        content_brief:
                          type: string
                        content_seed_bank:
                          nullable: true
                        content_aesthetic:
                          nullable: true
                        app_plug_context:
                          nullable: true
                        promotion_photo_collection_id:
                          nullable: true
                        tik_tok_account_id:
                          nullable: true
                        automated:
                          type: boolean
                        auto_approval:
                          type: boolean
                        preferred_hour:
                          nullable: true
                        automation_status:
                          type: string
                        automation_error_message:
                          nullable: true
                        last_automated_run_at:
                          nullable: true
                        image_source_preference:
                          type: string
                        always_generate_images:
                          type: boolean
                        photo_collection_id:
                          nullable: true
                        default_artwork_style_id:
                          nullable: true
                        default_text_style_variant:
                          type: string
                        default_text_background_color:
                          type: string
                        default_text_background_opacity:
                          type: number
                          format: float
                        default_text_layout:
                          type: string
                        automation_text_style_variant:
                          nullable: true
                        automation_text_background_color:
                          nullable: true
                        automation_text_background_opacity:
                          nullable: true
                        automation_text_layout:
                          nullable: true
                        automation_template_ids:
                          type: array
                          items: {}
                        artwork_style_ids:
                          type: array
                          items: {}
                        archived:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - offering_id
                      - name
                      - description
                      - content_focus
                      - status
                      - campaign_type
                      - content_brief
                      - content_seed_bank
                      - content_aesthetic
                      - app_plug_context
                      - promotion_photo_collection_id
                      - tik_tok_account_id
                      - automated
                      - auto_approval
                      - preferred_hour
                      - automation_status
                      - automation_error_message
                      - last_automated_run_at
                      - image_source_preference
                      - always_generate_images
                      - photo_collection_id
                      - default_artwork_style_id
                      - default_text_style_variant
                      - default_text_background_color
                      - default_text_background_opacity
                      - default_text_layout
                      - automation_text_style_variant
                      - automation_text_background_color
                      - automation_text_background_opacity
                      - automation_text_layout
                      - automation_template_ids
                      - artwork_style_ids
                      - archived
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '404':
          description: does not return campaigns from another organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    post:
      summary: create
      tags:
      - Campaigns
      parameters:
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                campaign:
                  type: object
                  properties:
                    name:
                      type: string
                    description:
                      type: string
                    content_focus:
                      type: string
                    campaign_type:
                      type: string
                    content_brief:
                      type: string
                    default_text_style_variant:
                      type: string
                    default_text_background_color:
                      type: string
                    default_text_background_opacity:
                      type: number
                      format: float
                  required:
                  - description
              required:
              - campaign
      responses:
        '201':
          description: generates a default name when not provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      offering_id:
                        type: string
                      name:
                        type: string
                      description:
                        type: string
                      content_focus:
                        type: string
                        nullable: true
                      status:
                        type: string
                      campaign_type:
                        type: string
                      content_brief:
                        type: string
                        nullable: true
                      content_seed_bank:
                        nullable: true
                      content_aesthetic:
                        nullable: true
                      app_plug_context:
                        nullable: true
                      promotion_photo_collection_id:
                        nullable: true
                      tik_tok_account_id:
                        nullable: true
                      automated:
                        type: boolean
                      auto_approval:
                        type: boolean
                      preferred_hour:
                        nullable: true
                      automation_status:
                        type: string
                      automation_error_message:
                        nullable: true
                      last_automated_run_at:
                        nullable: true
                      image_source_preference:
                        type: string
                      always_generate_images:
                        type: boolean
                      photo_collection_id:
                        nullable: true
                      default_artwork_style_id:
                        nullable: true
                      default_text_style_variant:
                        type: string
                      default_text_background_color:
                        type: string
                      default_text_background_opacity:
                        type: number
                        format: float
                      default_text_layout:
                        type: string
                      automation_text_style_variant:
                        nullable: true
                      automation_text_background_color:
                        nullable: true
                      automation_text_background_opacity:
                        nullable: true
                      automation_text_layout:
                        nullable: true
                      automation_template_ids:
                        type: array
                        items: {}
                      artwork_style_ids:
                        type: array
                        items: {}
                      archived:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - offering_id
                    - name
                    - description
                    - content_focus
                    - status
                    - campaign_type
                    - content_brief
                    - content_seed_bank
                    - content_aesthetic
                    - app_plug_context
                    - promotion_photo_collection_id
                    - tik_tok_account_id
                    - automated
                    - auto_approval
                    - preferred_hour
                    - automation_status
                    - automation_error_message
                    - last_automated_run_at
                    - image_source_preference
                    - always_generate_images
                    - photo_collection_id
                    - default_artwork_style_id
                    - default_text_style_variant
                    - default_text_background_color
                    - default_text_background_opacity
                    - default_text_layout
                    - automation_text_style_variant
                    - automation_text_background_color
                    - automation_text_background_opacity
                    - automation_text_layout
                    - automation_template_ids
                    - artwork_style_ids
                    - archived
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '400':
          description: returns 400 when campaign param is missing
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/content_ideas":
    get:
      summary: index
      tags:
      - Content Ideas
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: filters by status=rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        campaign_id:
                          type: string
                        title:
                          type: string
                        concept:
                          type: string
                        hook_angle:
                          type: string
                        status:
                          type: string
                        slide_content:
                          nullable: true
                        rejected:
                          type: boolean
                        archived:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - campaign_id
                      - title
                      - concept
                      - hook_angle
                      - status
                      - slide_content
                      - rejected
                      - archived
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
        '404':
          description: returns 404 for offering from another organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    post:
      summary: create
      tags:
      - Content Ideas
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_idea:
                  type: object
                  properties:
                    title:
                      type: string
                    concept:
                      type: string
                    hook_angle:
                      type: string
                    slide_content:
                      type: object
                      properties:
                        slides:
                          type: array
                          items:
                            type: object
                            properties:
                              type:
                                type: string
                              headline:
                                type: string
                              subtext:
                                type: string
                              visual_prompt:
                                type: string
                              text_elements:
                                type: array
                                items: {}
                            required:
                            - type
                            - headline
                            - subtext
                            - visual_prompt
                            - text_elements
                      required:
                      - slides
                  required:
                  - title
                  - concept
              required:
              - content_idea
      responses:
        '201':
          description: creates a content idea with slide_content
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      campaign_id:
                        type: string
                      title:
                        type: string
                      concept:
                        type: string
                      hook_angle:
                        type: string
                        nullable: true
                      status:
                        type: string
                      slide_content:
                        nullable: true
                        type: object
                        properties:
                          slides:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                headline:
                                  type: string
                                subtext:
                                  type: string
                                visual_prompt:
                                  type: string
                                text_elements:
                                  type: array
                                  items: {}
                              required:
                              - type
                              - headline
                              - subtext
                              - visual_prompt
                              - text_elements
                        required:
                        - slides
                      rejected:
                        type: boolean
                      archived:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - campaign_id
                    - title
                    - concept
                    - hook_angle
                    - status
                    - slide_content
                    - rejected
                    - archived
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/content_ideas/{id}":
    get:
      summary: show
      tags:
      - Content Ideas
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns content idea details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      campaign_id:
                        type: string
                      title:
                        type: string
                      concept:
                        type: string
                      hook_angle:
                        type: string
                      status:
                        type: string
                      slide_content:
                        nullable: true
                      rejected:
                        type: boolean
                      archived:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - campaign_id
                    - title
                    - concept
                    - hook_angle
                    - status
                    - slide_content
                    - rejected
                    - archived
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for unknown idea
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/content_ideas/{id}/approve":
    post:
      summary: approve
      tags:
      - Content Ideas
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: approves a draft content idea
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      campaign_id:
                        type: string
                      title:
                        type: string
                      concept:
                        type: string
                      hook_angle:
                        type: string
                      status:
                        type: string
                      slide_content:
                        nullable: true
                      rejected:
                        type: boolean
                      archived:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - campaign_id
                    - title
                    - concept
                    - hook_angle
                    - status
                    - slide_content
                    - rejected
                    - archived
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '422':
          description: returns error if already approved
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/content_ideas/{id}/reject":
    post:
      summary: reject
      tags:
      - Content Ideas
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: rejects a content idea
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      campaign_id:
                        type: string
                      title:
                        type: string
                      concept:
                        type: string
                      hook_angle:
                        type: string
                      status:
                        type: string
                      slide_content:
                        nullable: true
                      rejected:
                        type: boolean
                      archived:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - campaign_id
                    - title
                    - concept
                    - hook_angle
                    - status
                    - slide_content
                    - rejected
                    - archived
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '422':
          description: returns error if already rejected
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/creatives":
    get:
      summary: index
      tags:
      - Creatives
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: returns archived creatives when status is archived
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        campaign_id:
                          type: string
                        content_idea_id:
                          nullable: true
                        creative_template_id:
                          type: string
                        artwork_style_id:
                          type: string
                        name:
                          type: string
                        status:
                          type: string
                        hook_text:
                          type: string
                        post_title:
                          nullable: true
                        post_description:
                          nullable: true
                        post_hashtags:
                          nullable: true
                        transition_style:
                          type: string
                        video_status:
                          type: string
                        is_remix:
                          type: boolean
                        is_automated:
                          type: boolean
                        archived:
                          type: boolean
                        published_at:
                          nullable: true
                        completed_at:
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        video_url:
                          nullable: true
                        slide_count:
                          type: integer
                        tik_tok_post:
                          nullable: true
                      required:
                      - id
                      - campaign_id
                      - content_idea_id
                      - creative_template_id
                      - artwork_style_id
                      - name
                      - status
                      - hook_text
                      - post_title
                      - post_description
                      - post_hashtags
                      - transition_style
                      - video_status
                      - is_remix
                      - is_automated
                      - archived
                      - published_at
                      - completed_at
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    post:
      summary: create
      tags:
      - Creatives
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content_idea_id:
                  type: string
                artwork_style_id:
                  type: string
      responses:
        '201':
          description: creates a blank creative when content_idea_id is omitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      campaign_id:
                        type: string
                      content_idea_id:
                        type: string
                        nullable: true
                      creative_template_id:
                        nullable: true
                      artwork_style_id:
                        nullable: true
                        type: string
                      name:
                        type: string
                      status:
                        type: string
                      hook_text:
                        type: string
                        nullable: true
                      post_title:
                        nullable: true
                      post_description:
                        nullable: true
                      post_hashtags:
                        nullable: true
                      transition_style:
                        type: string
                      video_status:
                        type: string
                      is_remix:
                        type: boolean
                      is_automated:
                        type: boolean
                      archived:
                        type: boolean
                      published_at:
                        nullable: true
                      completed_at:
                        nullable: true
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      video_url:
                        nullable: true
                      slide_count:
                        type: integer
                      tik_tok_post:
                        nullable: true
                    required:
                    - id
                    - campaign_id
                    - content_idea_id
                    - creative_template_id
                    - artwork_style_id
                    - name
                    - status
                    - hook_text
                    - post_title
                    - post_description
                    - post_hashtags
                    - transition_style
                    - video_status
                    - is_remix
                    - is_automated
                    - archived
                    - published_at
                    - completed_at
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for a non-existent content idea
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/creatives/{creative_id}/slides":
    get:
      summary: index
      tags:
      - Slides
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: creative_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: includes expected fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        creative_id:
                          type: string
                        position:
                          type: integer
                        slide_type:
                          type: string
                        artwork_style_id:
                          nullable: true
                        effective_artwork_style_id:
                          type: string
                        text_elements:
                          type: array
                          items: {}
                        visual_prompt:
                          nullable: true
                        visual_note:
                          nullable: true
                        duration:
                          type: number
                          format: float
                        hidden:
                          type: boolean
                        image_offset_y:
                          type: number
                          format: float
                        has_uploaded_image:
                          type: boolean
                        has_generated_image:
                          type: boolean
                        has_rendered_image:
                          type: boolean
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        generated_image_url:
                          nullable: true
                        uploaded_image_url:
                          nullable: true
                        rendered_image_url:
                          nullable: true
                      required:
                      - id
                      - creative_id
                      - position
                      - slide_type
                      - artwork_style_id
                      - effective_artwork_style_id
                      - text_elements
                      - visual_prompt
                      - visual_note
                      - duration
                      - hidden
                      - image_offset_y
                      - has_uploaded_image
                      - has_generated_image
                      - has_rendered_image
                      - created_at
                      - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '401':
          description: returns 401 without a token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    post:
      summary: create
      tags:
      - Slides
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: creative_id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slide_type:
                  type: string
      responses:
        '201':
          description: creates a slide with custom type
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      creative_id:
                        type: string
                      position:
                        type: integer
                      slide_type:
                        type: string
                      artwork_style_id:
                        nullable: true
                      effective_artwork_style_id:
                        type: string
                      text_elements:
                        type: array
                        items: {}
                      visual_prompt:
                        nullable: true
                      visual_note:
                        nullable: true
                      duration:
                        type: number
                        format: float
                      hidden:
                        type: boolean
                      image_offset_y:
                        type: number
                        format: float
                      has_uploaded_image:
                        type: boolean
                      has_generated_image:
                        type: boolean
                      has_rendered_image:
                        type: boolean
                      generated_image_url:
                        nullable: true
                      uploaded_image_url:
                        nullable: true
                      rendered_image_url:
                        nullable: true
                      created_at:
                        type: string
                      updated_at:
                        type: string
                    required:
                    - id
                    - creative_id
                    - position
                    - slide_type
                    - artwork_style_id
                    - effective_artwork_style_id
                    - text_elements
                    - visual_prompt
                    - visual_note
                    - duration
                    - hidden
                    - image_offset_y
                    - has_uploaded_image
                    - has_generated_image
                    - has_rendered_image
                    - generated_image_url
                    - uploaded_image_url
                    - rendered_image_url
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
  "/api/v1/offerings/{offering_id}/campaigns/{campaign_id}/creatives/{creative_id}/slides/{id}":
    delete:
      summary: destroy
      tags:
      - Slides
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: creative_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: deletes the slide
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                    required:
                    - deleted
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
    get:
      summary: show
      tags:
      - Slides
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: creative_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: returns the slide
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      creative_id:
                        type: string
                      position:
                        type: integer
                      slide_type:
                        type: string
                      artwork_style_id:
                        nullable: true
                      effective_artwork_style_id:
                        type: string
                      text_elements:
                        type: array
                        items: {}
                      visual_prompt:
                        type: string
                      visual_note:
                        nullable: true
                      duration:
                        type: number
                        format: float
                      hidden:
                        type: boolean
                      image_offset_y:
                        type: number
                        format: float
                      has_uploaded_image:
                        type: boolean
                      has_generated_image:
                        type: boolean
                      has_rendered_image:
                        type: boolean
                      created_at:
                        type: string
                      updated_at:
                        type: string
                      generated_image_url:
                        nullable: true
                      uploaded_image_url:
                        nullable: true
                      rendered_image_url:
                        nullable: true
                    required:
                    - id
                    - creative_id
                    - position
                    - slide_type
                    - artwork_style_id
                    - effective_artwork_style_id
                    - text_elements
                    - visual_prompt
                    - visual_note
                    - duration
                    - hidden
                    - image_offset_y
                    - has_uploaded_image
                    - has_generated_image
                    - has_rendered_image
                    - created_at
                    - updated_at
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - data
                - meta
        '404':
          description: returns 404 for a non-existent slide
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      message:
                        type: string
                      code:
                        type: string
                    required:
                    - message
                    - code
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                    required:
                    - timestamp
                required:
                - error
                - meta
    patch:
      summary: update
      tags:
      - Slides
      parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: string
      - name: creative_id
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: offering_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                slide:
                  type: object
                  properties:
                    custom_headline:
                      type: string
                    custom_subtext:
                      type: string
                    visual_prompt:
                      type: string
                    duration:
                      type: number
                      format: float
                    text_width_percent:
                      type: number
                      format: float
                    image_offset_y:
                      type: number
                      format: float
                    text_elements:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                          preset:
                            type: string
                          text:
                            type: string
                          x:
                            type: number
                            format: float
                          "y":
                            type: number
                            format: float
                          fontSize:
                            type: string
                          alignment:
                            type: string
                          width:
                            type: number
                            format: float
                          style_variant:
                            type: string
                          background_color:
                            type: string
                          background_opacity:
                            type: number
                            format: float
                        required:
                        - id
                        - preset
                        - text
                        - x
                        - "y"
                        - fontSize
                        - alignment
                        - width
                        - style_variant
                        - background_color
                        - background_opacity
              required:
              - slide
      responses:
        '200':
          description: updates text_elements
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      creative_id:
                        type: string
                      position:
                        type: integer
                      slide_type:
                        type: string
                      artwork_style_id:
[...]
